<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Сфинкс</title>
    <link rel="stylesheet" href="styles.css"/>
    <script src="jquery-3.3.1.min.js"></script>
</head>
<body>
<h1>Загрузить новую задачу</h1>
<form th:action="@{/logout}" method="post">
    Вы вошли как [[${#httpServletRequest.remoteUser}]].
    <input type="submit" value="Выйти из учетной записи"/>
</form>
<a th:href="@{/home}">На главную</a>
<p th:if="${message}" th:text="${message}"></p>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    Выберите файл с исходным кодом.
    <input type="file" name="wheat"/>
    <input type="submit" value="Отправить файл"/>
</form>
<form th:action="@{/submit}" method="post">
    или вставьте код в поле
    <textarea id="wheat_text" name="wheat" cols="100" rows="20"></textarea>
    <input type="submit" value="Отправить текст"/>
</form>
<h1>Редактировать задачу</h1>
<p th:if="${themes.isEmpty()}">Темы отсутствуют</p>
<ul>
    <li th:each="theme : ${themes}">
        <p th:text="${theme.name}"></p>
        <ol>
            <li th:each="haystack : ${theme.haystackMentions}">
                <a th:text="${haystack.name}" th:href="@{/creator(haystack_id=${haystack.id})}"></a>
            </li>
        </ol>
    </li>
</ul>
</body>
</html>